<div class="row">

  <div class="col-3">
    Search: <input [(ngModel)]="searchingByName" class="form-control mr-sm-2" id="search-box" />
  </div>

  <div class=" col-2">
    <button class="btn btn-outline-success my-2 my-sm-0 btn-block" (click)="searchForAnimals(searchingByName)">
      Search
    </button>
  </div>

  <div class="col-8"></div>
</div>

<br>

<div class="alert alert-danger col-5" role="alert" *ngIf="searchingByName && animalsList.length < 1">
  <div>No animals with <b>"{{searchingByName}}"</b> found</div>
</div>

<br>

<table class="table table-striped table-dark" *ngIf="animalsList && animalsList.length > 0">

  <thead>
    <tr>
      <th class="text-center">Id</th>
      <th class="text-center">Name</th>
      <th class="text-center">Habitat</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let animal of animalsList; let id = index" (mouseover)="highlightRow(animal)"
      [ngClass]="{'highlight' : animal.id == selectedName}">

      <td class="align-middle text-center">{{ id + 1 }}</td>
      <td class="align-middle text-center"> <a class="badge badge-warning" routerLink="/animals/{{ animal.id }}">{{ animal.name }}</a> </td>
      <td class="align-middle text-center"> 
          <div [ngSwitch]="animal.habitat">
              <div *ngSwitchCase="'Basic'" > Basic </div>
              <div *ngSwitchCase="'Ocean'" > Ocean </div>
              <div *ngSwitchCase="'Forest'" > Forest </div>
              <div *ngSwitchCase="'Desert'" > Desert </div>
              <div *ngSwitchCase="'Jungle'" > Jungle </div>
              <div *ngSwitchDefault> No habitat </div>
            </div>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-danger" (click)="deleteAnimal(animal)">
          Delete
        </button>
      </td>

    </tr>
  </tbody>

</table>

<hr />

<div class="row">
  
  <div class="col-8">
    <input class="form-control" [(ngModel)]="newAnimalName" placeholder="Name..." />
  </div>

  <div class="col-4">
    <button class="btn btn-success" (click)="createAnimal()"> Add Animal </button>
  </div>

</div>