<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/"> Zoo Sami</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/animals"
            >Animals <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <br />
  <div style="margin:0px auto; text-align:center;" [hidden]="route !== '/'">
    <img src="https://cdn.dribbble.com/users/3499895/screenshots/6481025/tiger_zoo_logo_2x.jpg" alt="Logo" class="center" />
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  