<div class="row" *ngIf="animal">

    <div class="col-1">
      <h5>{{ animal.name }}<span class="badge badge-secondary"></span></h5>
    </div>

    <div class="col-5">
      <h5>{{ animalId }}<span class="badge badge-secondary"></span></h5>
    </div>

    <div class="col-2">
      <button class="btn btn-danger btn-block" (click)="navigateToAnimalList()">
        HOME PAGE
      </button>
    </div>

  </div>

  <br />

  <div class="row" *ngIf="animal">
    <div class="col-1">
      <select [(ngModel)]="selectedType">
        <option *ngFor="let type of habitatTypes">
          {{ type }}
        </option>
      </select>
    </div>

    <div class="col-2">
      <button [disabled]="canUpdate()" class="btn btn-success btn-block" (click)="updateThisAnimal()">UPDATE</button>
    </div>

  </div>

  <br>

  <div class="alert alert-danger col-7" role="alert" *ngIf="canUpdate()">
      <div><b>Habitat</b> is not proper habitat for <b> {{animal?.name}} </b></div>
   </div>
  